html {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #ffffff;
}

.app {
  width: 100%;
}

input[type=number] {
  width: 100%;
  height: 48px;
  border-color: #6b94a8;
}

label:has(input[type=radio]:checked) {
  background-color: rgba(216, 219, 47, 0.15);
}

.second_button {
  height: 56px;
  border-radius: 996px;
  border: none;
  color: #133041;
  background-color: #d8db2f;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: bold;
}

.error {
  display: block;
}

#myForm h1 {
  color: #133041;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: bold;
}
#myForm .first_button {
  color: #4e6e7e;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 500;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

.mainContainer {
  background-color: #133041;
}
.mainContainer .initial-container .p1 {
  color: #ffffff;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: bold;
}
.mainContainer .initial-container .p2 {
  color: #9abed5;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 500;
}
.mainContainer .result_container .firstp {
  color: white;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: bold;
}
.mainContainer .result_container .secondp {
  color: #9abed5;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 500;
}
.mainContainer .result_container .calculated_results {
  background-color: hsla(0, 0%, 0%, 0.25);
  border-radius: 8px;
  box-shadow: 0px -11px 0px 0px #d8db2f;
  -webkit-box-shadow: 0px -11px 0px 0px #d8db2f;
  -moz-box-shadow: 0px -11px 0px 0px #d8db2f;
}
.mainContainer .result_container .calculated_results .same-text {
  color: #9abed5;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 500;
}
.mainContainer .result_container .calculated_results .monthly_repayment {
  color: #d8db2f;
  font-size: 56px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: bold;
}
.mainContainer .result_container .calculated_results hr {
  background-color: red;
  width: 50%;
  color: green;
}
.mainContainer .result_container .calculated_results .total_repayment {
  color: #ffffff;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: bold;
}
.mainContainer .initial-container p {
  text-align: center;
}
.mainContainer .initial-container img {
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.has-solid-border {
  display: flex;
  align-items: center;
  border: solid;
  border-color: #6b94a8;
  height: 48px;
  width: 90%;
  margin-top: 1.5em;
  color: #133041;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -1px;
  font-weight: bold;
}

label {
  display: block;
  color: #4e6e7e;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 500;
}

.no1 {
  position: relative;
  display: inline-block;
  width: 90%;
}

.no1 input {
  padding-left: 80px;
}

.no1 p {
  position: absolute;
  margin-right: 5px;
  top: 0px;
  left: 0;
  width: 10%;
  height: 48px;
  border: none;
  padding-top: 18px;
  background-color: #e4f4fd;
}
.no1 p img {
  margin: auto;
}

.no2 {
  position: relative;
  display: inline-block;
  width: 90%;
}

.no2 input {
  padding-right: 40px;
}

.no2 p {
  padding-top: 18px;
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  height: 48px;
  width: 30%;
  background-color: #e4f4fd;
}
.no2 p img {
  margin: auto;
}

.no3 {
  position: relative;
  display: inline-block;
  width: 90%;
}

.no3 input {
  padding-right: 40px;
}

.no3 p {
  padding-top: 18px;
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  width: 20%;
  background-color: #e4f4fd;
  height: 48px;
}
.no3 p img {
  margin: auto;
}

@media (min-width: 700px) {
  .form-and-other {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #mortgage-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}/*# sourceMappingURL=style.css.map */